{% extends "base.html" %}


{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-5 p-3 shadow rounded" style="max-width: 600px;">
    <h2 class="text-center">PDF to CSV</h2>
    <form action="{% url 'pdf_to_csv' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <p>{{ form.pdf_doc.errors }}</p>
            {{ form | crispy }}
        </div>

        <div class="form-group">
            <input type="submit" value="Convert" class="btn btn-primary">
        </div>

    </form>
</div>
{% endblock content %}
    